:root {
    --primary-color : #eaeaee;
    --secondary-color: #aeaeaa;
    --accent-color: #bebebe;
    --text-color: #626D71;
    --shadow: 0 1px 5px rgba(84, 84, 84, 0.5);
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #FFF;
    box-shadow: var(--shadow);
    font-family: 'Roboto', sans-serif;
    padding: 0 1em;
    overflow: hidden;
}

.container-header {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.logo-b13 {
    fill: red;
}

.title {
    margin-left: 1em;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    display: block;
    padding: 0em 2em;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s ease all ;
}

nav ul li a:hover {
    color: red;
}

.icon-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-mobile {
    display: none;
    cursor: pointer;
}


.nav-mobile span:nth-child(2), .nav-mobile span:last-child {
    width: 50%;
}


/*
.container {
    max-width: 1114px;
    margin: 10;
    margin: 0px auto;
    padding: 20px;

}
.full-container{
    width: 100%;

}
*/



/* mobile */
@media screen and (max-width: 670px) {
    .hide-mobile {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

}

/* Tablet */
@media screen and (max-width: 1000px){
    .container {
        max-width: 800px;
    }
    
    .hide-mobile {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

}

/* Notebook */
@media screen and (min-width: 1000px){
    body {
        min-height: 100vh;
        position:relative;
    }    
    footer {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
    }
    .copyright {
        background-color:red;
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;
        color: white;
    }
    .copyright span {
        font-weight: bold;
    }
    .appleicon i {
        font-size:60px;
        color:black;
    }
    .footer {
        width:80%;
        margin:auto;
        display:grid;
        grid-template-columns: auto auto auto;
        font-size: 20px;     
    }
    .contacttext {
        font-weight: bolder;
    }
    .sponsor {
        font-size: larger;
    }
    .icon1 {
        padding-left: 3px;
    }

    .namapt {
        font-weight: bold;
    }
}

